{% extends "base.html" %}
{% load static %}

{% block cards_active %} active{% endblock %}

{% block style %}
<script src="/static/markdownfield/easymde/easymde.min.js"></script>
<link href="/static/markdownfield/easymde/easymde.min.css" type="text/css" media="all" rel="stylesheet">
<link href="/static/markdownfield/fontawesome/font-awesome.min.css" type="text/css" media="all" rel="stylesheet">
<link href="/static/markdownfield/md.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <div class="card mb-3">
                <h5 class="card-header">Confirmer la suppression ?</h5>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        <p>Êtes vous sûr de voulour supprimer "{{ object }}"?</p>
                        <button type="submit" class="btn my-3 btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('id_type').classList.add('form-control');
    document.getElementById('id_tags').classList.add('form-select');
    document.getElementById('id_public').classList.add('form-check-input')
</script>
{% endblock %}