{% extends "base.html" %}
{% load static %}

{% block home_active %} active{% endblock %}



{% block content %}
<div class="container" style="width:380px">
    <div class="card text-white bg-dark my-5">
        <div class="card-body">
            <div class="mb-4 text-center">
                <img class="mb-2" src="{% static "img/burger.png" %}" alt="" width="48">
                <h4>Connexion</h4>
            </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mb-4 text-end">
                    <a href="{% url 'password_reset' %}" class="card-link">Mot de passe oublié ?</a>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <div class="d-grid gap-2 my-4">
                    <button type="submit" class="btn btn-lg btn-success" type="button"> Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('id_username').classList.add('form-control');
    document.getElementById('id_password').classList.add('form-select')
</script>
{% endblock %}